:root {
    --fonts: gold;
    --bg: rgb(57, 39, 39);
    --hover1: rgb(249, 244, 214);
}

::selection{
    background-color: aquamarine;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html { 
    scroll-behavior: smooth;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--bg);
    min-height: 5000px;
}

/* Bagian Navbar */
.navbar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 8%;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid var(--fonts);
    position: fixed;
    top: 0;
    left: 3%;
    right: 3%;
    z-index: 9999;
}

.navbar .nav-logo{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--fonts);
}

.navbar .nav-tambahan a{
    color: var(--fonts);
    margin: 0 0.5rem;
}

.navbar .nav-tambahan a:hover {
    color: var(--hover1);
}

#ham-menu {
    display: none;
}

.navbar .nav-nav a{
    color: var(--fonts);
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
}

.navbar .nav-nav a:hover {
    color: var(--hover1);
}

/* Bagian Jumbotron */
.jumbo {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/jumbo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;

}

.jumbo .profile {
    position: absolute;
    margin-bottom: -150px;
    right: 10px;
    
}

.jumbo .content {
    padding: 1.3rem 7%;
    max-width: 60rem;
}

.jumbo .content h1 {
    font-size: 3em;
    color: var(--fonts);
    text-shadow: 1px 3px 3px rgba(1,1,1,0.5);
    line-height: 1.2;
    position: relative;
    z-index: 4;
}

/* media queries */

/* laptop */
@media (max-width: 1366px) {
    html {
        font: 75%;
    }
    .jumbo .profile {
        right: -100px;
    }
}



/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 68.5%;
    }
    .jumbo .profile {
        right: -200px;
    }

    #ham-menu {
        display: inline-block;
    }

    .navbar .nav-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(102, 51, 153, 0.8);
        width: 20rem;
        height: 100vh;
    }

    .navbar .nav-nav.active {
        right: 0;
    }

    
}

/* mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

}