:root {
    --fonts: gold;
    --bg: rgb(57, 39, 39);
    --hover1: rgb(139, 118, 1);
}

::selection{
    background-color: aquamarine;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html { 
    scroll-behavior: smooth;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--bg);
    min-height: 5000px;
}

/* Bagian Navbar */
.navbar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 8%;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid var(--hover1);
    position: fixed;
    top: 0;
    left: 3%;
    right: 3%;
    z-index: 9999;
}
