:root {
    --fonts: gold;
    --bg: rgb(57, 39, 39);
    --hover1: rgb(249, 244, 214);
    --bgabout: rgb(46, 45, 23);
    --bgform: rgb(100, 21, 124); 
}

::selection{
    background-color: aquamarine;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html { 
    scroll-behavior: smooth;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--bg);
    /* min-height: 5000px; */
    /* overflow-x: hidden; */
    
}

/* Bagian Navbar */
.navbar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 8%;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid var(--fonts);
    position: fixed;
    top: 0;
    left: 3%;
    right: 3%;
    z-index: 9999;
}

.navbar .nav-logo{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--fonts);
}

.navbar .nav-tambahan a{
    color: var(--fonts);
    margin: 0 0.5rem;
}

.navbar .nav-tambahan a:hover {
    color: var(--hover1);
}

#ham-menu {
    display: none;
}

.navbar .nav-nav a{
    color: var(--fonts);
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
}

.navbar .nav-nav a:hover {
    color: var(--hover1);
}

/* Bagian Jumbotron */
.jumbo {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/jumbo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}

.jumbo:after{ 
    content: '';
    display: block;
    position: absolute;
    width: 80%;
    height: 100%;
    left: 0;
    background: linear-gradient(90deg, rgba(69, 12, 116, 0.8)3%, rgba(255,255,255,0));
}
.jumbo .bpro {
    overflow: hidden;
    width: 420px;
    height: 1035px;
    position: absolute;
    margin-bottom: -150px;
    right: 0px;
}

.jumbo .bpro .profile {
    background-image: url(../img/heroimg/br1.png);
    width: 420px;
    height: 1035px;
    position: absolute;
    right: 0px;
    background-repeat: no-repeat;
}

.jumbo .content {
    padding: 1.3rem 7%;
    max-width: 60rem;
}

.jumbo .content h1 {
    font-size: 3em;
    color: var(--fonts);
    text-shadow: 1px 3px 3px rgba(1,1,1,0.5);
    line-height: 1.2;
    position: relative;
    z-index: 4;
}

/* Bagian About */
.about {
    padding: 8rem 7% 2rem;
    background: var(--bgabout);
}

.about .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.col1{
    flex-basis: 35%;
}

.col1 img{
    width: 100%;
    border-radius: 20px;
}

.col2{
    flex-basis: 60%;
    width: 100%;
}

.about h1{
    font-size: 3rem;
    font-weight: 600;
    color: var(--fonts);
    text-align: center;
    padding: 20px 0 40px;
}

.about .col2 p{
    text-align: justify;
    color: var(--fonts);
    font-size: 1.3rem;
}

.about .tab-judul{
    display: flex;
    margin: 15px 0 30px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}

.tlinks{
    margin-right: 40px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.tlinks::after{
    content: "";
    width: 0;
    height: 3px;
    background: var(--hover1);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tlinks.active-link::after{
    width: 50%;
}

.tcontents ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tcontents ul{
    font-size: 1.1rem;
}
.tcontents ul .li1{
    flex-basis: 40%;
}
.tcontents ul .li2{
    flex-basis: 60%;
}

.tcontents ul li{
    list-style: none;
    margin: 10px 0;
}
.tcontents ul li span{
    color: var(--fonts);
}

.tcontents{
    display: none;
}

.tcontents.active-content{
    display: block;
}
 
/* Bagian Project */
.project {
    padding: 5rem 5% 1.4rem;
    background-image: url(../img/jum.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.project::after { 
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.project h1{
    font-size: 3rem;
    font-weight: 600;
    color: var(--fonts);
    text-align: center;
    padding: 20px 0 40px;
    text-shadow: 1px 1px 3px rgb(255, 255, 255), 0px 0px 5px rgb(0, 0, 0);
    position: relative;
    z-index: 3;
}

.project .contain-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.project .card-projects{
    overflow: hidden;
    background-color: brown;
    margin: 10px 10px;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    
}

.img-project img{
    width: 300px;
    height: 400px;
    transition: transform 2s;
}

.img-project img:hover{
    transform: scale(1.1,1.1);
}

.text-project {
    background-color: aqua;
    position: relative;
    z-index: 2;
}

/* Bagian Contact */
.contact {
    padding: 6rem 7% 1.4rem;
    background: var(--bgabout); 
}

.contact h1{
    font-size: 3rem;
    font-weight: 600;
    color: var(--fonts);
    text-align: center;
    padding: 20px 0 10px;
}

.contact .form{
    display: flex;
    background: var(--bgform);
    margin: 2rem 0;
}

.contact .form form{
    padding: 5rem 2rem;
    text-align: center;
    flex: 1 1 45rem;
}

.contact .form form .groupinput {
    display: flex;
    align-items: center;
    margin: 1.4rem;
    background-color: var(--bg);
}

.contact .form form .groupinput input {
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
    color: aliceblue;
    background: none;
}

.contact .form form textarea {
    background: none;
    padding: 2rem;
    width: 100%;
    color: aliceblue;
    font-size: 1.3rem;
    resize: none;
}

.contact .btn {
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    color: var(--bg);
    background-color: var(--fonts);
    cursor: pointer;
    border-radius: 3px;
}

.contact .btn:active{
    background-color: var(--hover1);
}



/* Bagian Footer */
footer{
    background-color: var(--fonts);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}

footer .iconfooter{
    padding: 1rem 0;
}

footer .iconfooter a{
    color: var(--bg);
    margin: 1rem;
}

footer .iconfooter a:hover{
    color: var(--hover1);
}

footer .cr {
    margin-bottom: 1rem;
}

footer .cr p{
    color: var(--bg);
}


/* media queries */

/* laptop */
@media (max-width: 1366px) {
    html {
        font-size: 85%;
    }
    .navbar { 
        right: 0;
        left: 0;
    }

    .jumbo .bpro{
        margin-bottom: -190px;
    }

    .jumbo .bpro .profile {
        width: 275px;
        height: 981px;
        right: 0;
        background-image: url(../img/heroimg/br2.png);
    }    
}



/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 75%;
    }

    /* jumbotron */
    .jumbo .bpro{
        margin-bottom: -270px;
    }

    .jumbo .bpro .profile {
        width: 230px;
        height: 930px;
        right: 0;
        background-image: url(../img/heroimg/br3.png);
    }


    /* navigasi */

    #ham-menu {
        display: inline-block;
    }

    .navbar .nav-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(102, 51, 153, 0.8);
        width: 20rem;
        height: 100vh;
    }

    .navbar .nav-nav.active {
        right: 0;
    }

    .navbar .nav-nav a {
        display: block;
        padding: 1rem 0.5rem 1rem;
        font-size: 1.6rem;
    }

    .navbar .nav-nav a:hover {
        background-color: rgba(50, 25, 75, 0.8);
        margin-left: 0;
        margin-right: 0;
        padding-left: 1.5rem;
        font-weight: 600;
    }

    /* about */
    .col1{
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .col2{
        flex-basis: 100%;
    }

    /* contact */
    .contact{
        padding: 6rem 2% 1rem;;
    }
    
}

/* mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}

/* another */
@media (max-width: 260px) {
    .tlinks{
        margin-right: 8px;
    }
}

